// Custom bootstrap variables

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 1100px,
        lg: 1400px,
        xl: 1700px
) !default;

$grid-gutter-width: 30px;

$blue: #3396ff;
