@import "custom";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "smiley";

$Sector-Colours: (
        en: #d67162,
        el:  #A5C663,
        tel: #47cdcd,
);

.container {
    padding-top: 5rem;
}

.flex-fill {
    flex: 1 1 auto !important;
}

/**
SECTOR COLOURS
 */
@each $sector, $colour in $Sector-Colours {
    .bg-#{$sector} {
        background-color: $colour;

        text-shadow: 1px 1px 5px opacify(lighten($colour, 20%), 0.5);

        :after {
            content: #{$primary};
            @debug "Sorry, but `#{$grid-breakpoints}` is not a valid value for $variable.";
        }
    }

    .bg-light-#{$sector} {
        background-color: saturate(lighten($colour, 30%), 50%);
    }
}

.bg-light-quantum {
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to right, orange , gold, #a7d55d, red, #904815, black); /* Standard syntax (must be last) */
}

.card-deck .card .card-header {
    height: 5rem;
    text-align: center;
    vertical-align: bottom;


}

.result-sector-list .list-group-item:first-of-type {
    $Shadow-Size: 3px;

    box-shadow: 0 2px $Shadow-Size -#{$Shadow-Size} black inset;
}

.result-sector {
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.4);
}

.card .lesson-status-Y:nth-of-type(4) {
    margin-bottom: 0.7rem;
}

.badge-lesson-status {
    margin-right: 0.5rem;
}

.lesson-list-item {
    padding: 0.2rem;
    font-size: 0.8rem;
}

.lesson-list-range {
    margin-right: $spacer;
    //height: 0.5rem;
    input {
        vertical-align: middle;
        width: 100%;
        min-width: 50px;
    }
    flex: 1 1 auto;
}

.lesson-list-smiley {
    margin-right: 0.5 * $spacer;
    vertical-align: middle;
    flex: 0 1 auto;
}

.lesson-ects {
    line-height: 0.65rem;
}

.lesson-utility-icon {
    margin-right: 0.3rem;
    flex: 0 2 auto;
    color: black;

    @include media-breakpoint-down(lg) {
        font-size: 85%;
        margin-right: 0.2rem;
    }
}

.lesson-description {
    padding: 1rem;
    word-wrap: normal;
    white-space: normal;

    p {
        white-space: pre-wrap;
    }

    dl {
        margin-bottom: 0;
    }
}

.unbuttonify {
    cursor: auto;
}

.badge {
    margin-left: 0.1rem;
}

.lesson-sector-toolbar {
    .btn-group {
        .btn {
            @extend .unbuttonify;

            font-size: 85%;

            @include media-breakpoint-up(xl) {
                font-size: 95%;
            }
        }
    }
}

$property-key-size-sm: 15%;
$property-key-size: 40%;

.lesson-property-key {
    flex: 0 1 $property-key-size;
    width: $property-key-size;

    @include media-breakpoint-up(sm) {
        flex: 0 1 $property-key-size-sm;
        width: $property-key-size-sm;
    }

    padding-right: 0.5 * $spacer;

    text-align: right;
}

.lesson-property-value {
    flex: 1 1 (100% - $property-key-size);
    width: (100% - $property-key-size);
}

.lesson-professors {
    @include media-breakpoint-down(md) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    @include media-breakpoint-up(sm) {
        flex: 0 0 $property-key-size-sm;
        width: $property-key-size-sm;
    }
}

.lesson-aux-satisfaction {
    vertical-align: middle;
    width: 100%;
    flex: 1 1 auto;
}

.tooltip {
    @include media-breakpoint-up(lg) {
        // Todo: Only hide
        display: none;
    }
}
