<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Βοηθός Επιλογής Τομέα ΗΜΜΥ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Βοηθός Επιλογής Τομέα ΗΜΜΥ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main" class="container">
    <div class="">
        <h1>Βοηθός Επιλογής Τομέα ΗΜΜΥ</h1>
        <p class="lead">Καλώς ήλθατε στον Βοηθό Επιλογής Τομέα ΗΜΜΥ!</p>
        Ο Βοηθός αυτός θα σας βοηθήσει να επιλέξετε τομέα ΗΜΜΥ.
    </div>
    <div id="app">
        <div v-for="(lessons, semester) in semesters" class="row">
            <div class="col-md">
                <form>
                    <h3>Εξάμηνο {{ semester }}</h3>
                    <ul>
                        <li v-for="lesson in lessons">
                            <input type="range" min="-10" max="10" step="0.1" value="0" v-model="lesson.satisfaction"> {{ lesson.name }}
                            <p>
                                <small>Satisfaction index: <strong>{{ lesson.satisfaction }}</strong></small>
                            </p>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-md">
                <h1>Results</h1>
                <div v-for='(sector, key) in sectors'>
                    <h2>{{ sector.name }}</h2>
                    <ul>
                        <li v-for="lesson in results[semester][key]">
                            {{ lesson.name }} <small>{{ lesson.satisfaction }}</small>
                        </li>
                    </ul>
                    Total satisfaction: <b><big>{{ results[semester][key].satisfaction }}</big></b>
                </div>
                <p class="text-primary">Best Sector: <b><big>{{ sectors[results[semester]["maxSector"]].short_name }}</big></b></p>
            </div>
        </div>
    </div>
</main><!-- /.container -->


<script src="js/bundle.js"></script>
</body>
</html>
