<!doctype html>
<html class="no-js" lang="" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Βοηθός Επιλογής Τομέα ΗΜΜΥ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Βοηθός Επιλογής Τομέα ΗΜΜΥ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main" class="container-fluid">
    <div class="">
        <h1>Βοηθός Επιλογής Τομέα ΗΜΜΥ</h1>
        <p class="lead">Καλώς ήλθατε στον Βοηθό Επιλογής Τομέα ΗΜΜΥ!</p>
        Ο Βοηθός αυτός θα σας βοηθήσει να επιλέξετε τομέα ΗΜΜΥ.
    </div>
    <div id="app">
        <div v-for="(lessons, semester) in semesters" class="row">
            <div class="col-md">
                <form>
                    <h3>Εξάμηνο {{ semester }}</h3>
                    <ul>
                        <li v-for="lesson in lessons">
                            <input type="range" min="-10" max="10" step="0.1" data-value="0" v-model.number="lesson.satisfaction"> {{ lesson.name }}
                                <small>Satisfaction index: <strong>{{ lesson.satisfaction }}</strong></small>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-md-7">
                <h1>Results</h1>

                <div class="card-deck">
                    <!--<div class="col-md">-->
                        <div class="card" v-for="(sector, key) in sectors">
                            <h5 class="card-header" v-bind:class="[ 'bg-' + key ]">Τομέας <b>{{ sector.subtitle_name }}</b></h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" v-for="lesson in results[semester][key]" v-bind:class="[ 'bg-light-' + lesson.sector, 'lesson-status-' + lesson.status[key] ]">
                                    <span class="badge badge-lesson-status badge-danger" title="Υποχρεωτικό" v-if="lesson.status[key] === 'Y'">Y</span>
                                    <span class="badge badge-lesson-status badge-info" title="Επιλογής" v-if="lesson.status[key] === 'E'">E</span>
                                    <span class="badge badge-lesson-status badge-light" title="Ελεύθερης Επιλογής" v-if="lesson.status[key] === 'EE'">EE</span>
                                    {{ lesson.name }}
                                    <span class="badge badge-light float-right">{{ lesson.satisfaction }}</span>
                                </li>
                            </ul>
                            <!--<div class="card-body">-->
                                <!--<h5 class="card-title">Special title treatment</h5>-->
                                <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            <!--</div>-->
                            <div class="card-body">

                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Ευχαρίστηση Τομέα:</small> <b>{{ results[semester][key].satisfaction.toFixed(1) }}</b>
                            </div>
                        </div>
                    <!--</div>-->
                </div>


                <p class="text-primary">Best Sector: <b><big>{{ sectors[results[semester]["maxSector"]].short_name }}</big></b></p>
            </div>
        </div>
    </div>
</main><!-- /.container -->


<script src="js/bundle.js"></script>
</body>
</html>
