<!doctype html>
<html class="no-js" lang="" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Βοηθός Επιλογής Τομέα ΗΜΜΥ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="dist/main.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<div id="app">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand mr-auto" href="#">Βοηθός Επιλογής Τομέα ΗΜΜΥ</a>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <div class="navbar-text nav-item mx-3" v-show="webpack_reload_count">
            {{ webpack_reload_count }} {{ webpack_reload_count === 1 ? "update" : "updates" }}
        </div>
        <div class="form-inline my-2 my-lg-0 mx-2 nav-item" v-if="development">
            <button class="btn btn-outline-warning my-2 my-sm-0" @click="_.each(semesters,function(s) {_.each(s, function(l) { l.satisfaction = 20 * (Math.random()-0.5) } )})">Randomise</button>
        </div>
        <div class="form-inline my-2 my-lg-0 mx-2 nav-item">
            <a class="btn btn-outline-secondary my-2 my-sm-0" href="https://github.com/kongr45gpen/etohmmy">Source Code @ Github</a>
        </div>
        <div class="form-inline my-2 my-lg-0 mx-2 nav-item">
            <button class="btn btn-outline-secondary my-2 my-sm-0" v-on:click="reset">Reset</button>
        </div>
    </nav>

    <main role="main" class="container-fluid" >
        <div class="">
            <h1>Βοηθός Επιλογής Τομέα ΗΜΜΥ</h1>
            <p class="lead">Καλώς ήλθατε στον Βοηθό Επιλογής Τομέα ΗΜΜΥ!</p>

            <p>Για να χρησιμοποιήσετε τη σελίδα αυτή, πρέπει να καταχωρήσετε το βαθμό προτίμησής σας
            για κάθε ένα από τα {{ activeLessons }} μαθήματα των τομέων. Η βαθμολογία <span class="badge badge-dark">-10</span>
            αντιστοιχεί σε μάθημα που δεν επιθυμείτε καθόλου να επιλέξετε, η βαθμολογία <span class="badge badge-dark">0</span>
            αντιστοιχεί σε αδιάφορο μάθημα, και η βαθμολογία <span class="badge badge-dark">10</span> αντιστοιχεί σε μάθημα
                που θέλετε σίγουρα να παρακολουθήσετε.</p>

            <p><span class="d-none d-md-inline">Στα δεξιά της επιλογής</span><span class="d-md-none">Κάτω από την επιλογή</span>
                των μαθημάτων για το κάθε εξάμηνο φαίνεται η προτεινόμενη διαμόρφωση επιλογής των
            επιλογών για τον κάθε τομέα. Στο τέλος της φόρμας βρίσκονται οι προτεινόμενοι τομείς
            για τα επόμενα 4 εξάμηνα.</p>

            <div class="alert alert-danger">
                <p><strong>Προσοχή!</strong>
                Η εφαρμογή αυτή έχει ρόλο μόνο βοηθητικό ως προς την επιλογή του τομέα ή των επιλεγόμενων
                μαθημάτων. Σε καμία περίπτωση δεν πρέπει τα αποτελέσματά της να αξιοποιούνται από μόνα τους.
                Για την προσωπική σας επιλογή καλό είναι να λάβετε υπ' όψιν τους παράγοντες
                που εσείς θεωρείτε σημαντικούς, όπως <span style="display: none;" :style="{display: 'inline'}">
                {{ $Choice_Factors_Literature }}, &hellip;</span></p>

                <p class="m-0">Τα εμφανιζόμενα μαθήματα βασίζονται στο πρόγραμμα σπουδών 2017-18. Είναι πολύ πιθανό αργότερα
                μαθήματα μεγαλύτερων εξαμήνων να αφαιρεθούν ή να προστεθούν, ανάλογα με τη διαθεσιμότητα
                των καθηγητών.</p>

                <p class="m-0">Επίσης, η εφαρμογή βρίσκεται ακόμα σε <strong>alpha έκδοση</strong>, οπότε είναι
                πολύ πιθανό να υπάρχουν <strong>λάθη</strong> και ελλείψεις στα μαθήματα και τους υπολογισμούς.</p>
            </div>

            <div class="alert alert-danger" v-if="false">
                <p>Η εφαρμογή αυτή απαιτεί <strong>Javascript</strong> για να λειτουργήσει, καθώς οι
                υπολογισμοί γίνονται τοπικά.</p>

                <p class="m-0">Παρακαλώ ενεργοποιήστε την Javascript ώστε να έχετε πρόσβαση στις λειτουργίες της.</p>
            </div>
        </div>
        <hr />
        <div>
            <p class="lead text-center">
                Προαιρετικά, διαλέξτε <i>έναν</i> τομέα που <strong>δεν</strong> θα πάρετε:
            </p>
            <deselect :lessons="semesters"></deselect>

            <semester v-for="(lessons, semester, idx) in semesters" :lessons="lessons" :semester="semester" :key="idx"
                      :odd-semester-results="(semester == 9) ? results[7] : undefined"
                      :resultout.sync="results[semester]"
            ></semester>

            <hr />
            <p class="text-right">
                <small class="text-muted">Πηγή πληροφοριών: <a href="https://qa.auth.gr/el/studyguide/20000050/current">qa.auth.gr</a></small>
            </p>

            <h2>Συνολικά Αποτελέσματα</h2>
            <total-results :results="results" :semesters="_.keys(semesters)"></total-results>
        </div>
    </main><!-- /.container -->

</div>

<!-- GOOGLE ANALYTICS SCRIPT HERE!!!! -->

<script src="dist/bundle.js"></script>
</body>
</html>
